
.column1 {
    background-color: #ec691f; /* Color azul */

}

.column2 {
    background-color: #FFBF1B; /* Color rojo */
}
.figuras{
    width: 110px;
    height: 110px;
    padding: auto;
    margin-left: .1cm;
    margin-right: .1cm;
}

.desert, .desert2, .desert4{
    width: 300px;
    height: 300px;
    border-radius: 30px 30px 30px 30px;
    padding: 20px;
    margin-left: 25%; 
    
}

.desert1, .desert3, .desert5{
    width: 300px;
    height: 300px;
    border-radius: 30px 30px 30px 30px;
    padding: 20px;
    margin-left: 2%; 
}

.aside-derecho {
    width: 200px; 
    height: 300px; 
    background-color: #C57032; 
    border-radius: 15px; 
    padding: 20px; 
    position: absolute; 
    top: 27%; 
    right: 0%; 
}
